<section class="section">
  <div class="container">
    <div class="columns is-mobile header">
      <div class="column">
        Title
      </div>
    </div>

    <div class="form_list" dt-url="form-get">
    </div>

    <div class="columns">
      <div class="column">
        <div class="control">
          <div class="field is-size-7 has-text-grey-light">
            <p>
              Powered by&nbsp;<span class="has-text-weight-bold has-text-dark"><?= $this->config->item('site_name') ?></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
