<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered is-size-2 is-capitalized has-text-weight-bold">
        <?= $this->config->item('site_name') ?>&nbsp;
        <img class="emoji is-size-2" src="assets/images/apple-icon-57x57.png" />
      </div>
    </div>

    <div class="columns">
      <div class="column is-padding-top">
        <div class="columns">
          <div class="column has-text-centered">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <button class="button is-link is-outlined is-fullwidth btn-download" dt-url="download">Download Template</button>
          </div>
        </div>
      </div>

      <div class="column is-padding-top">
        <div class="columns">
          <div class="column has-text-centered">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </div>
        </div>

        <div class="columns">
          <div class="column" id="upload-container" dt-upload-url="upload" dt-setting-url="setting">
            <button class="button is-link is-outlined is-fullwidth" id="btn-upload">Upload File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
