<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="message is-dark">
          <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </article>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="has-text-weight-bold">
          PREVIEW
        </span>
        <span class="icon">
          <i class="far fa-eye"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="container form-container forms">
    <div class="columns is-mobile background-color-picker">
      <div class="column has-text-right">
        <span class="icon pointer">
          <i class="fas fa-palette"></i>
        </span>
      </div>
    </div>

    <div class="form-container-background">
      <div class="columns is-mobile header">
        <div class="column">
          Title
        </div>

        <div class="column is-narrow header-color-picker">
          <span class="icon pointer">
            <i class="fas fa-palette"></i>
          </span>
        </div>
      </div>

      <div class="form_list" dt-url="setting-form">
      </div>

      <div class="columns">
        <div class="column">
          <div class="control">
            <div class="field is-size-7 has-text-grey-light">
              <p>
                Powered by&nbsp;<span class="has-text-weight-bold has-text-dark"><?= $this->config->item('site_name') ?></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="has-text-weight-bold">
          CONFIGURATION
        </span>
        <span class="icon">
          <i class="fas fa-hammer"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="container form-container configuration">
    <div class="columns">
      <div class="column">
        <div class="form-container-background">
          <div class="control">
            <div class="field section-break">
              <label class="label">Font</label>
              <p class="help">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div class="field">
              <label class="label">Header</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="font-header" class="font-family">
                    <?php
                      foreach($font_family as $k=>$v)
                      {
                    ?>
                    <option value="<?= $k ?>" style="font-family:<?= $v ?>"><?= $v ?></option>
                    <?php
                      }
                    ?>
                  </select>
                </div>
                <p class="help">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>

            <div class="field">
              <label class="label">Text</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="font-text" class="font-family">
                    <?php
                      foreach($font_family as $k=>$v)
                      {
                    ?>
                    <option value="<?= $k ?>" style="font-family:<?= $v ?>"><?= $v ?></option>
                    <?php
                      }
                    ?>
                  </select>
                </div>
                <p class="help">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="control">
          <div class="form-container-background">
            <div class="field section-break">
              <label class="label">Button Text</label>
              <p class="help">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>

            <div class="field">
              <label class="label">Next</label>
              <div class="control">
                <input class="input button-name" name="button-next" value="Next" type="text">
              </div>
              <p class="help">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="field">
              <label class="label">Back</label>
              <div class="control">
                <input class="input button-name" name="button-back" value="Back" type="text">
              </div>
              <p class="help">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>

            <div class="field">
              <label class="label">Submit</label>
              <div class="control">
                <input class="input button-name" name="button-submit" value="Submit" type="text">
              </div>
              <p class="help">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="control">
          <div class="form-container-background">
            <div class="field section-break">
              <label class="label">Complete Response Text</label>
              <p class="help">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="field">
              <label class="label">Submit</label>
              <div class="control">
                <textarea class="textarea complete-text" rows="5">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</textarea>
              </div>
              <p class="help">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-link btn-save" dt-url="setting-save">
              <span>Save</span>
              <span class="icon is-small">
                <i class="fas fa-save"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<?= val($modal , 'image') ?>
