.section {
  background: #ececec;
  min-height: 100vh;
}

.container {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.container .header {
  margin: -1.5rem -1.5rem .75rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #4a4a4a;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.container .header .column {
  padding: 1rem 1.5rem;
  color: #fff;
}
