.form-container {
  padding: 2.25rem 1.5rem;
  background: #ececec;
  margin: .75rem auto;
}

.form-container.forms {
  padding: 2.25rem 1.5rem 5rem;
}

.form-container .form-container-background {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.form-container .form-container-background .header {
  margin: -1.5rem -1.5rem .75rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #4a4a4a;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.form-container .form-container-background .header .column {
  padding: 1rem 1.5rem;
  color: #fff;
}

.background-color-picker {
  margin: -1.5rem -1rem .5rem !important;
}

.columns.page,
.columns.complete {
  display: none;
}

.columns.page.open,
.columns.complete.open {
  display: block;
}

.control .checkbox,
.control .radio{
  padding: .25rem 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.control .checkbox input,
.control .radio input{
  margin-right: .5rem;
}

.control .field {
  margin: 1.5rem 0;
}

.control .field.section-break {
  padding: 0 0 1rem;
  border-bottom: 4px solid #363636;
  margin: 1.5rem 0 2.5rem;
}

.control .field.section-break .help {
  margin: 0;
}

.field.is-grouped {
  justify-content: flex-end;
}

.field .image img {
  transition: all .5s;
  box-shadow: 0 0.15rem 0.15rem rgba(0,0,0,0.15);
}

.field .image img:hover {
  opacity: .75;
}

.field .videowrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.field .videowrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.field .complete-description {
  margin: 8rem .75rem;
  text-align: center;
  font-weight: 600;
}
