<div class="field" dt-type="check-boxes" dt-required="<?= val($data , 'required') ?>">
  <label class="label"><?= val($data , 'question') ?></label>
  <div class="control">
    <?php
      foreach(val($data , 'options') as $k=>$v)
      {
    ?>
    <label class="checkbox">
      <input type="checkbox" value="<?= $v ?>">
      <?= $v ?>
    </label>
    <?php
      }
    ?>
  </div>
  <p class="help"><?= val($data , 'guide') ?></p>
</div>
