<div class="field" dt-type="date-range" dt-required="<?= val($data , 'required') ?>">
  <label class="label"><?= val($data , 'question') ?></label>
  <div class="control">
    <input class="input date-range" type="text">
  </div>
  <p class="help"><?= val($data , 'guide') ?></p>
</div>
