<div class="field" dt-type="image" dt-required="0">
  <figure class="image">
    <img class="pointer" src="<?= val($data , 'question') ?>">
  </figure>
  <p class="help"><?= val($data , 'guide') ?></p>
</div>
