<div class="columns page open" dt-page="1">
  <div class="column">
    <div class="control">
      <?php
        foreach(val($data , 'forms' , []) as $k=>$v)
        {
          echo $v;
        }
      ?>
    </div>
  </div>
</div>
