<div class="modal modal-image">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
