<div class="field" dt-type="multiple-line-answer" dt-required="<?= val($data , 'required') ?>">
  <label class="label"><?= val($data , 'question') ?></label>
  <div class="control">
    <textarea class="textarea" rows="7"></textarea>
  </div>
  <p class="help"><?= val($data , 'guide') ?></p>
</div>
