      <div class="field is-grouped">
        <?php
          if(val($data , 'page' , 1) > 2)
          {
        ?>
        <div class="control">
          <a class="button btn-back">
            <span class="icon is-small">
              <i class="fas fa-angle-left"></i>
            </span>
            <span class="button-back-text"></span>
          </a>
        </div>
        <?php
          }
        ?>
        <div class="control">
          <a class="button is-link btn-next">
            <span class="button-next-text"></span>
            <span class="icon is-small">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns page" dt-page="<?= val($data , 'page' , 1) ?>">
  <div class="column">
    <div class="control">
