      <div class="field is-grouped">
        <div class="control">
          <a class="button btn-back">
            <span class="icon is-small">
              <i class="fas fa-angle-left"></i>
            </span>
            <span class="button-back-text">Back</span>
          </a>
        </div>
        <div class="control">
          <a class="button is-link btn-submit">
            <span class="button-submit-text"></span>
            <span class="icon is-small">
              <i class="fas fa-save"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns complete">
  <div class="column">
    <div class="control">
      <div class="field">
        <p class="complete-description">
        </p>
      </div>

      <div class="field is-grouped <?= val($data , 'undo') ? '' : 'hide' ?>">
        <div class="control">
          <a class="button btn-undo">
            <span class="icon is-small">
              <i class="fas fa-undo"></i>
            </span>
            <span>Undo</span>
          </a>
        </div>
      </div>
