<div class="field" dt-type="youtube" dt-required="0">
  <div class="videowrapper">
    <iframe src="<?= youtubeEmbedURL(val($data , 'question')) ?>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p class="help"><?= val($data , 'guide') ?></p>
</div>
